---
layout: default
---
    <a id="skip-to-content" href="#content">Skip to the content.</a>

       <header>
        <div class="container header-container">
            <a href="/" class="logo" title="IMRango">
                <img src="/assets/img/iamrango.webp" class="cover-author-image" alt="IMRango" width="40px" height="40px"/>
            </a>
            <div class="nav-controls" >
                <a href="audio-tools"  onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">Audio Tools </a> | 
                <a href="video-tools"  onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">Video Tools</a> | 
                <a href="image-tools"  onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">Image Tools</a> | 

            </div>
        </div>
    </header>
    <main id="content" role="main">
        <!-- HERO -->
     {{content}}
    </main>
    <footer>
        <div class="container">
            <div class="footer-content">                
                <div class="footer-column">
                    <ul class="footer-links">
                    </ul>
                </div>

                <div class="footer-column">
                    <ul class="footer-links">
                    </ul>
                </div>
                <div class="footer-column">
                    <ul class="footer-links">
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3>Resources</h3>
                    <ul class="footer-links">
                        <li><a href="articles" aria-label="IMRango Blog"> 📝 IAMRango Blog</a></li>
                        <li><a href="authors" aria-label="IMRango Developers And Authors">💻 Authors And Developers </a></li>
                        <li><a href="privacy-policy" aria-label="IMRango Privacy Ploicy"> 🔒 Privacy Policy </a></li>
                        <li><a href="sitemap" aria-label="IMRango Sitemap">🚀 Sitemap</a> </li>

                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="footer-column">
                    <h3><a href="/">IMRango</a></h3>
                    <p>IMRango offers free online media tools, like video tools, Audio tools and image tools.</p>
                </div>
                <div style="width: 99%; display: flex; justify-content: flex-end;">
                  <p>&copy; {{ site.time | date: "%Y" }}  IMRango. | Made with &hearts;</p>
                </div>
            </div>
        </div>
    </footer>

