---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div style="margin-top: 4rem;">
        <ul>
          <li><a href="/excel-csv-converter"><u>Excel / CSV Converter</u></a></li>
          <li><a href="/json-converter"><u>JSON Converter</u></a></li>
          <li><a href="/xml-converter"><u>XML Converter</u></a></li>
          <li> <a href="/pdf-image-converter"><u>PDF / Image Converter</u></a></li>
          <li><a href="/file-compressor"><u>File Compressor</u></a></li>        
        </ul>
        
      </div>
    </div>
  </header> <!-- End Header -->

  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
          <li><a href="https://hey.link/lCmrh" target="_blank"><i class="fa fa-address-book" aria-hidden="true"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
